<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OQF.Application.PlayerVsBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <system.diagnostics>
         
            <switches>
                <add name="SourceSwitch" value="All" />
            </switches>
        
       
        </system.diagnostics>
    <userSettings>
        <OQF.Application.PlayerVsBot.Properties.Settings>
            <setting name="LastUsedBotPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedLanguageCode" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="IsProgressSecionExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDebugSectionExpanded" serializeAs="String">
                <value>False</value>
            </setting>
        </OQF.Application.PlayerVsBot.Properties.Settings>
    </userSettings>
</configuration>